<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS </title>

    <%- include("partials/headerCdn")  %>
</head>

<body>
    
    <div class="container">
        <header class="text-center">
            <h1>Profile page</h1>
            <a href="/authentication/logout" class="btn btn-danger">Logout</a>
        </header>
        <hr>

        <div class="row">
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-header">
                        Login with npm passport and mongo connection example <br>
                        Data: 
                    </div>
                    <div class="card-body">
                        <p>
                            <strong>Local id</strong> : <%= user.id %> <br>
                            <strong>Email</strong> <%= user.local.email %> <br>
                            <strong>Password bcrypt</strong> <%= user.local.password %> <br>
                            
                            
                            <% if (user.type == 'facebook') { %>
                                
                                <strong>Provider id</strong> <%= user.facebook.provider_id %> <br>
                                <strong>Url photo</strong> <%= user.facebook.photo %> <br>
                            <% } %>

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">

                    <div class="card-header">
                        Profile data: 
                    </div>

                    <% if(user.type == 'facebook'){ %>
                        <div class="card-body text-center">
                            <img src="<%= user.facebook.photo %>" alt="..." class="img-thumbnail"> <br>
    
                            <strong><%= user.facebook.name %></strong>
    
                        </div>  
                      <% } else{ %>  
                        <div class="card-body text-center">
                            <strong>Actual provider: <%= user.hasOwnProperty('facebook') ? user.hasOwnProperty('facebook') : 'Local' %> </strong> <br>
                            <strong>Use facebook login to show the profile foto and name</strong>
    
                        </div> 
                    <% } %>
                    
                    
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <hr>
    <div class="alert alert-secondary" role="alert">
        Gracias por visitar
    </div>

    <!-- <%- include("../templates/footer")  %> -->

</body>
</html>

